.sidebarh {
 
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
 
 .sidebarh #h1{
  size: 30px;
 }

.user-letter {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(47, 233, 47);
}

.btn {
  border-color: transparent;
  border-radius: 5px;
  margin-bottom: 3px;
  width: 100%;
  padding: 20px;
}

.btn:hover {
  background-color: blue;
}
