.mid-pane {
  margin-top: 20px;
  margin-top: -20px;
  padding-top: 1px;
  margin-left: 150px;
  float: left; 
  /* padding-left: -50px; */
}
.mid-pane span {
  font-weight: bold;
}

.mid-pane button { 
  
  background-color: white;
  margin-left: 5px;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 20px;
}

.low-mid-pane {
  padding-top: 5px;
}

.vid-pl {
  width: 100px;
  height: 100px;
  display: block;
}

.mid-pane h1 {
  margin-right: 100px;
  margin-bottom: 10px;
}

.btn-mid {
  padding-top: 20px;
  margin-top: 5px;
}

.mid-pane button:hover {
  background-color: rgb(80, 80, 238);
}
